<!DOCTYPE html>
<html>
  <!-- UI KIT -->
  <!-- 
    HTML main template file

    - change the page title in webpack.config.js
    - app will mount in "root"
  -->
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">hello world</div> 
  </body>
</html>
